<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAzcDyq59Vl8TrnNgo_O9uuahnY8euZC4</string>
	<key>GCM_SENDER_ID</key>
	<string>662429319913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devPortfolioSanjaymali</string>
	<key>PROJECT_ID</key>
	<string>malisanjay</string>
	<key>STORAGE_BUCKET</key>
	<string>malisanjay.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662429319913:ios:dcb0d39f6d0e690bdb6678</string>
</dict>
</plist>